$base: #f67280;
$black: #443d3e;
$gray0: #faf9f9;
$gray1: #f0ecec;
$gray2: #e5dfdf;
$gray3: #dad0d1;
$gray4: #cdc0c2;
$gray5: #c0aeb0;
$gray6: #ac9b9d;
$gray7: #938587;
$gray8: #74696a;
$gray9: #443d3e;
$red0: #fdeef0;
$red1: #fcdce0;
$red2: #fbc8ce;
$red3: #fab1b9;
$red4: #f895a1;
$red5: #f67281;
$red6: #de6774;
$red7: #c25a66;
$red8: #a14a54;
$red9: #73353c;
$orange0: #fdf3ec;
$orange1: #fce6d8;
$orange2: #fbd8c2;
$orange3: #f9c9aa;
$orange4: #f7b890;
$orange5: #f6a572;
$orange6: #de9567;
$orange7: #c3835a;
$orange8: #a26c4b;
$orange9: #744e36;
$yellow0: #fdfbea;
$yellow1: #fcf7d5;
$yellow2: #faf4be;
$yellow3: #f9efa6;
$yellow4: #f7eb8d;
$yellow5: #f6e772;
$yellow6: #ded167;
$yellow7: #c3b85a;
$yellow8: #a3994b;
$yellow9: #766f36;
$lime0: #f6fdeb;
$lime1: #edfcd6;
$lime2: #e4fbc0;
$lime3: #daf9a8;
$lime4: #cff78e;
$lime5: #c3f672;
$lime6: #b0de67;
$lime7: #9bc45a;
$lime8: #81a34b;
$lime9: #5d7636;
$green0: #effded;
$green1: #ddfcd9;
$green2: #cbfbc4;
$green3: #b5f9ad;
$green4: #9df892;
$green5: #81f672;
$green6: #74de67;
$green7: #66c35a;
$green8: #55a34b;
$green9: #3e7636;
$teal0: #edfdf3;
$teal1: #dafce7;
$teal2: #c4fbd9;
$teal3: #adf9ca;
$teal4: #92f8b9;
$teal5: #72f6a5;
$teal6: #67de95;
$teal7: #5ac383;
$teal8: #4ba36d;
$teal9: #36764f;
$cyan0: #edfdfb;
$cyan1: #dafcf8;
$cyan2: #c4fbf5;
$cyan3: #adf9f1;
$cyan4: #92f8ec;
$cyan5: #72f6e7;
$cyan6: #67ded1;
$cyan7: #5ac3b8;
$cyan8: #4ba399;
$cyan9: #36766f;
$blue0: #ecf7fd;
$blue1: #d8eefc;
$blue2: #c2e5fb;
$blue3: #aadbf9;
$blue4: #90cff7;
$blue5: #72c3f6;
$blue6: #67b0de;
$blue7: #5a9ac3;
$blue8: #4b80a2;
$blue9: #365c74;
$indigo0: #eeeffd;
$indigo1: #dbdffc;
$indigo2: #c7cdfb;
$indigo3: #b0b8f9;
$indigo4: #949ff8;
$indigo5: #7281f6;
$indigo6: #6674de;
$indigo7: #5a65c2;
$indigo8: #4a54a0;
$indigo9: #343b72;
$violet0: #f4eefd;
$violet1: #e8dcfc;
$violet2: #dbc7fb;
$violet3: #ccb0f9;
$violet4: #bb95f8;
$violet5: #a572f6;
$violet6: #9466de;
$violet7: #825ac2;
$violet8: #6b4aa0;
$violet9: #4c3572;
$fuschia0: #fceefd;
$fuschia1: #f9dcfc;
$fuschia2: #f5c8fb;
$fuschia3: #f1b0fa;
$fuschia4: #ed95f8;
$fuschia5: #e772f6;
$fuschia6: #d067de;
$fuschia7: #b75ac3;
$fuschia8: #974aa1;
$fuschia9: #6d3574;
$pink0: #fdeef7;
$pink1: #fcdcf0;
$pink2: #fbc8e7;
$pink3: #fab1dd;
$pink4: #f895d2;
$pink5: #f672c3;
$pink6: #de67b0;
$pink7: #c35a9a;
$pink8: #a14a80;
$pink9: #74355c
